.form {
  display: flex;
  flex-direction: row;

  .input {
    width: 250px;
    height: 20px;
    margin-right: 50px;
  }

  .add-todo {
    color: rgb(91, 20, 184);
    background-color: rgb(224, 224, 224);
    font-size: 20px;
    border: none;
    padding: auto;
    border-radius: 20px;
  }
  .add-todo:before {
    content: '+';
  }

  .add-todo:hover {
    transition: 0.2s;
    background-color: rgb(91, 20, 184);
    color: white;
    border-radius: 20px;
  }
}
