.form {
  .input {
    width: 250px;
    height: 20px;
    margin-right: 50px;
  }

  .add-todo {
    color: rgb(91, 20, 184);
    background-color: white;
    font-size: 15px;
    border: none;
    padding: auto;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
  }
  .add-todo:before {
    content: '+';
    margin-right: 5px;
    padding: 5px 10px;
    color: white;
    border-radius: 50%;
    background-color: rgb(91, 20, 184);
  }
  .add-todo:hover {
    background-color: rgb(91, 20, 184);
    border-radius: 20px;
    color: white;
    transition: 0.3s;
  }
}
